{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div id="attributes" class="col-lg-2" >
			<div class="row" style="height:500px;overflow: auto;">
				<table class="table">
				  <thead>
				    <tr>
				      <th colspan="2">Attributes</th> 
				    </tr>
				  </thead>
				  <tbody>
				  	{%for attr in attrs:%}
					    <tr>
					      <td>{{attr}}</td>
					    </tr>
				    {%endfor%}
				  </tbody>
				</table>	
			</div>
			<br>
			<div class="row" style="margin-left: 2px">
				<span><button id="run" class="btn btn-primary site-color">Run!</button></span>&nbsp&nbsp
				<!-- <span><button id="update" class="btn btn-primary site-color">Update</button></span>		 -->
			</div>
			
		</div>
		<div class="causal col-lg-6">
			
		    		
		</div>
		<div id="persona_div" class="col-lg-4" align="center" style="display: none;height:550px;overflow: auto;">
			<h4>Sample List</h4>
			<!-- <button id="evaluate">Evaluate</button> -->
			<table class="table">
			  <thead>
			    <tr>
			      <th >Index</th> 
			      <th >Key</th> 
			      <th >Value</th> 
			    </tr>
			  </thead>
			  <tbody id="persona_list">
			  	
			  </tbody>
			</table>
			
		</div>
		<!-- <div class="col-lg-2"></div> -->
		
		
	</div>
	

</div>

{% endblock content %}